div {
	display: block;
}
#header {
	width: 100%;
	background: #242424;
	height: 62px;
}
.logo img{
	margin-top: 12px;
	margin-left: 15px;
}
.right{
	float: right;
}
a.right{
	margin-top: 15px;
	margin-right: 15px;
	color: white;
	background-color: grey;
	padding: 3px;
	border: 1px solid;
	border-radius: 5px;
	border-color: darkGrey;
}
a.right:hover {
	text-decoration: none;
}