<!DOCTYPE html>
<html>
<head>
  <title>BucketList</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <div id="header">
    <div class="logo">
      <a href="http://www.mindvalley.com"><img src="/assets/logo-mindvalley.png"></a>
    </div>
  </div>
</header>
<%= yield %>

</body>
</html>
